<h1>Movies#show</h1>
<p>Find me in app/views/movies/show.html.erb</p>
<p>
	<table border=1>
		<tr>
			<th>movie_name</th><th>movie_director</th>
		</tr>
		<tr>
			<td> <%=@movobj.name %></td><td><%=@movobj.director %></td>
		</tr>
	</table>
</p>
