<center><h1>booked ticket details</h1></center>
<hr/>

<center>
<h2>your booked ticket is as below </h2>
<p>
<table border=1 width=600px height=200px>
 <tr>
 	<th>SEAT_NO</th><th>TICKET_COST</th>
 </tr>
 <tr>
 	<td><%=@ticket.seat_no %></td><td><%=@ticket.price %></td>

 </tr>

</table>

</p>

</center>