// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th{
	background-color: green;

}
tr{
	background-color:yellow
}

td{
	color:red;
	font:20px;
	text-align:center;
	
}